#top {
	background-color:#33CCFF;
}
#warning {
	height:300px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
	background-color:#33CCFF;
}
.listsection {
background-color:white;
padding:10px;
border-radius:4px;

}
#comment {
	height:50px;
}