<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- custom styles -->
	  <link rel="stylesheet" type="text/css" href="/styles/style.css">

	<title>Warning!</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>

				<br>                
				</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<center><img  class="megaphone" src="http://www.clipartbest.com/cliparts/dc7/z7a/dc7z7aEKi.png" alt="megaphone"/></center>
			</div>
			
		
			<div class="row">
		
			<div class="col-md-6">
				<div class="shaded">
				<img id="warning" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Mauritius_Road_Signs_-_Warning_Sign_-_Other_dangers.svg/556px-Mauritius_Road_Signs_-_Warning_Sign_-_Other_dangers.svg.png" alt="warning sign"/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h1>Welcome to the Open Channel</h1>
			</div>
			<div class="col-md-offset-6 col-md-6">
				<div class="shaded">
				</div>
			</div>
			
			<div class="col-md-offset-6 col-md-6">
				<div class="shaded">
				<center><h3>This site should not be viewed by anyone! This is a site that encourages free expression. You may be offended or shocked by the statements you find in here. 
				</h3></center>
			</div>
		</div>
		</div>
		<div class="row">
			
			<div class="col-md-offset-6 col-md-6">
				<div class="shaded">
				<center><a href="/views/index.html"><img id="enter" src="http://i573.photobucket.com/albums/ss179/goldtalon319/enter-signs_green.png" border="0" alt="green enter sign photo enter-signs_green.png"/></a></center>
			</div>
		</div>
		</div>	

		</div>		
	</div>
	
	 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>